readdocument/wsdl/documentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DocumentService"
             targetNamespace="http://www.example.org/documentService/"
             xmlns:tns="http://www.example.org/documentService/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema targetNamespace="http://www.example.org/documentService/">
            <xsd:element name="getDocumentsByProjectAndUserRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="projectId" type="xsd:int"/>
                        <xsd:element name="userId" type="xsd:int"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getDocumentsByProjectAndUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="documents" type="tns:DocumentArray"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="Document">
                <xsd:all>
                    <xsd:element name="id" type="xsd:int"/>
                    <xsd:element name="document_name" type="xsd:string"/>
                    <xsd:element name="document_content" type="xsd:string"/>
                    <xsd:element name="project_id" type="xsd:int"/>
                    <xsd:element name="user_id" type="xsd:int"/>
                    <xsd:element name="createdAt" type="xsd:dateTime"/>
                    <xsd:element name="updatedAt" type="xsd:dateTime"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="DocumentArray">
                <xsd:sequence>
                    <xsd:element name="document" type="tns:Document" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>

    <message name="getDocumentsByProjectAndUserRequest">
        <part name="parameters" element="tns:getDocumentsByProjectAndUserRequest"/>
    </message>

    <message name="getDocumentsByProjectAndUserResponse">
        <part name="parameters" element="tns:getDocumentsByProjectAndUserResponse"/>
    </message>

    <portType name="DocumentServicePortType">
        <operation name="getDocumentsByProjectAndUser">
            <input message="tns:getDocumentsByProjectAndUserRequest"/>
            <output message="tns:getDocumentsByProjectAndUserResponse"/>
        </operation>
    </portType>

    <binding name="DocumentServiceBinding" type="tns:DocumentServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getDocumentsByProjectAndUser">
            <soap:operation soapAction="getDocumentsByProjectAndUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="DocumentService">
        <documentation>Service to retrieve documents by project and user.</documentation>
        <port name="DocumentServicePort" binding="tns:DocumentServiceBinding">
            <soap:address location="http://localhost:4016/wsdl"/>
        </port>
    </service>
</definitions>
